body {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

th{
    text-align:left;
    

}

body{
font-size: 20pt;

}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  div {
    text-align: center;
    border-style: solid;
    margin-left: 300px;
    width:60%
}
#alignment{
    margin-left: auto;
    margin-right: auto;

}